.restaurantImg{
    width: 100%;
    height: 40vh;
    padding: 0;
    transition: transform .2s;
    overflow: hidden;
}
.restaurantImg:hover{
    transform: scale(0.9); 
}

.subtitle{
    font-size: 17px;
    color: grey;
    margin:0;
}
.category{
    padding: 17px;
    font-size: 18px;
    color: grey;
    cursor: pointer;
}
.category:hover{
    font-weight: bold;
    color: rgb(255, 166, 0);
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
    border-right: 3px solid rgb(255, 123, 0);
    background-image:  linear-gradient(to right, white , rgb(255, 215, 140));
}
.foodPic{
    width: 100%;
    border-radius: 20px;
}
.foodName{
    font-weight: bold;
}
.foodPrice{
    font-size: 18px;
}
.foodAdd{
    text-align: center;
    padding: 2px;
    width: 50%;
    font-weight: bold;
    border: 1px solid orange;
    background-color: rgb(248, 248, 233);
    color: orange;
    cursor: pointer;
    border-radius: 10px;
}
.foodAdd:hover{
    background-color: white;
}
.addIcon{
    font-size: 12px;
}

.menuList{
    border: 1px solid red;
    height: 100vh;
    overflow-y: auto;
}