.restaurantImg{
    width: 100%;
    height: 40vh;
    padding: 0;
    transition: transform .2s;
    overflow: hidden;
}
.restaurantImg:hover{
    transform: scale(0.9); 
}

.subtitle{
    font-size: 17px;
    color: grey;
    margin:0;
}
.category{
    padding: 17px;
    font-size: 18px;
    color: grey;
    cursor: pointer;
}
.category:hover{
    color: orange;
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
    border-right: 3px solid rgb(255, 123, 0);
    background-image:  linear-gradient(to right, white , orange);
}